:root {
    --div-main-background-color: #ffffff;
    --div-display-background-color: #e6e6e6;
    --div-calculator-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    --div-footer-font: #000000;
}

body {
    background: var(--div-main-background-color);
    font-family: 'Overpass', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: auto;
    transition: background 0.5s ease;
}

#darkmode-toggle {
    display: none;
}

label {
    width: 100px;
    height: 50px;
    position: relative;
    display: block;
    background-color: #ebebeb;
    border-radius: 75px;
    box-shadow: inset 0px 1px 5px rbga(0,0,0,0.4), inset 0px -1px 5px rbga(255,255,255,0.4);
    cursor: pointer;
}

label:after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: linear-gradient(180deg, #f6c36c,#f5ab2c);
}

.calculator-body {
    position: absolute;
    height: 600px;
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 15px;
    background-color: #0066ff;
    box-shadow: var(--div-calculator-shadow);
}

.display-box {
    display: flex;
    flex-direction: column;
    height: 120px;
    border-radius: 8px;
    margin: 10px 5px;
    background-color: var(--div-display-background-color);
    border: 10px solid #003d99;
}

.prev-display {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 0 0;
    font-size: 1.5rem;
    min-height: 32.5px;
}

.display-content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 4.5rem;
    padding: 0 10px 0 0; 
    overflow: hidden;
}

.input-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 8px;
    margin-top: 20px;
}

.calc-button {
    font-size: 1.2rem;
    font-weight: 600;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 1px;
    outline: none;
    border: 2px solid black;
    cursor: pointer;
}

.calc-button:active {
    transform: scale(0.9);
}

.calc-button:disabled {
    background-color: #6d6d6d;
    color: #000000;
    transform: none;
    cursor: unset;
}

.zero {
    width: 180px;
    grid-column: 1 / 3;
}

.produce {
    background-color: red;
}

.produce:disabled {
    background-color: rgb(81, 0, 0);
}

footer {
    color: var(--div-footer-font);
    transition: 0.5s ease;
    display: flex;
    margin-top: auto;
}